@font-face {
  font-family: 'Gen Jyuu Gothic';
  src: local('Gen Jyuu Gothic'),
    url('./assest/fonts/GenJyuuGothic-Regular.ttf') format('truetype');
}
:root {
  --PrimaryDark: #2c8492;
  --PrimaryLight: #70d6df;
  --NeutralLight: #ffffff;
  --SecondLightT: #80c74f;
  --SecondDarkL: #473438;
  --SecondDarkT: #8c6a5e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background: #aaaaaa22;
  font-family: 'Gen Jyuu Gothic', sans-serif;
  font-weight: 400;
}

body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
