@font-face {
  font-family: 'Gen Jyuu Gothic';
  src: local('Gen Jyuu Gothic'),
    url('./assest/fonts/GenJyuuGothic-Normal.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Gen Jyuu Gothic', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
